body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 12px;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.cards-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  
.card {
    background: #f5f5f5;
    padding: 15px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  

#error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}


.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }

.header a {
    text-decoration: none;
    color: #000000;
    background-color: rgb(10, 158, 94);
  }

.member-button{
   background-color: rgb(21, 229, 69);
   color: #000000;
}

.buttons{
    margin-top: 15px;
}